.box1{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	border-radius: 10px;
	margin-bottom: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,1);
    transition: box-shadow 0.2s ease-in;
}

.box1:hover {
  box-shadow: 0 20px 10px rgba(0,0,0,0.6);
}

.signinBox{
    width: 350px;
	height: 50px;
	padding:5px;
	margin:5px;
	border-radius: 10px;
	outline: none;
	text-align: center;
	background-color: black;
	border: none;
	color:white;
    font-weight: bolder;
}

.signinbtn{
	width: 150px;
	padding: 5px;
	height: 50px;
	margin: 5px;
	border-radius: 10px;
	outline: none;
	background-image: linear-gradient(to right, red , yellow);
    font-family: sans-serif;
    font-weight: bold;
    border: none;
}	

.title{  
	display: grid;
	height:auto;
	background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}