.Navibar{
	display: flex; 
	justify-content: flex-end;
	padding: 10px;
	padding-bottom: 15px;
}

.Navibtn{
	border: 2px solid yellow;
	padding:5px;
	border-radius: 10px;
	margin: 5px;
	text-align: center;
	text-transform: uppercase;
	color: yellow;
    width: 130px;
    font-size: 25px;

	
}